# Másold ezt a fájlt .env.local néven, és töltsd ki a Sanity projekt adataival!
# A Project ID-t a https://sanity.io/manage oldalon találod.
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
